@import 'normalize.scss';

//                                  MIXMIN

@mixin  font-lato {
    font-family: 'Lato', sans-serif;
}
@mixin fotn-montserrat {
    font-family: 'Montserrat', sans-serif;
}
@mixin start-btn {
    button{
        @include fotn-montserrat;
        margin: 0;
        padding: 16px 20px;
        font-size: 18px;
        border: 1px solid #414141;
        background: $color-white;
        outline: none;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        transition: .4s;
    }
    button:hover{
        @include fotn-montserrat;
        margin: 0;
        padding: 16px 20px;
        font-size: 18px;
        border: 1px solid #414141;
        background: linear-gradient(to right, #FE985B,#FE4FA7);
        outline: none;
        border-radius: 4px;
        color: $color-white;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
    }
}
//                                VARIABLES
$color-white: #ffffff;
//                                COMMON
*{
    box-sizing: border-box;
}
body{
    @include font-lato;
    color: #414141;
}

.description-item{
    &-icon{
        margin-bottom: 20px;
    }
    &-title{
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
    }
    &-content{
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
    }
}

.section-inner{
    width: 1180px;
    margin: 0 auto;
}

//                              HEADER

.section-header{
    color: $color-white;
    background: url('../img/showcase.png') no-repeat 50% 50%;
    background-size: cover;
    position: relative;

.section-inner{
    height: 100vh;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(20,39, 41,.6);
        z-index: 5;
    }
    &-logo{
        padding-top: 35px;
        font-weight: bold;
        font-size: 24px;
        flex-shrink: 1;
    }
    &-content{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    &-wrapper{
        margin: 0 auto;
        &-title,
        &-subtitle{
            text-align: center;
        }

        &-title{
            font-weight: bold;
            font-size: 56px;
            line-height: 60px;
            margin-bottom: 16px;
        }
        &-subtitle{
            @include fotn-montserrat;
            font-size: 18px;
            line-height: 32px;
            width: 80%;
            margin: 0 auto 44px;
        }
        &-from{
            display: flex;
            &-input{
                flex: 1;
                padding-right: 40px;
                input{
                    @include fotn-montserrat;
                    border: none;
                    background: rgba(255,255,255,.25);
                    color: $color-white;
                    font-size: 16px;
                    margin: 0;
                    padding: 16px 20px;
                    outline: none;
                    border-radius: 4px;
                    width: 100%;
                    transition: .2s;
                    &::placeholder{
                        color: $color-white;
                    }
                    &:focus{
                        background: rgba(255,255,255,.5);
                    }
                }
            }
            &-button{
               @include start-btn;
            }
        }
    }
}

//                          PROMO

.section-promo{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-promo-1{
    display: flex;
    &-content,&-video{
        flex-basis: 50%;
    }
    &-content{
        padding-right: 90px;
        .title{
            font-size: 32px;
            line-height: 51px;
            font-weight: bold;
            padding-bottom: 56px;
        }
        .description-item{
            margin-top: 28px;
        }
    }
    &-video{
        width: 100%;
        height: auto;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: -30px;
            right: 0;
            bottom: 0;
            left: 0;
            background: url("../img/play.png") no-repeat center;
            z-index: 30;
        }
        
    }
}
.blackout{
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url("../img/play.png") no-repeat center;
        background-color: rgba(19, 12, 12, 0.7);
        z-index: 30;
    }
}

.section-promo-2{
    display: flex;
    padding-top: 86px;
    margin-top: 120px;
    border-top: 1px solid #e2e2e2;
    text-align: center;
    .description-item + .description-item{
        margin-left: 40px;
    }
    
}

//                              FOUNDER

.section-founder{
    background-color: #f6f6f6;
    padding-top: 34px;
    .section-inner{
        display: flex;
    }
     &-img{
        align-self: flex-end;
     }
     &-content{
         align-self: center;
         padding-left: 50px;
         &-text{
            font-size: 24px;
            line-height: 40px;
            @include fotn-montserrat;
         }
         &-name{
            
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
         }
         &-post{
            
            font-size: 20px;
            line-height: 29px;
         }
     }
}

//                          PLANS

.section-plans{
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;

    &-title{
        font-size: 36px;
        line-height: 51px;
        font-weight: bold;
    }
    &-subtitle{
        width: 50%;
        font-size: 16px;
        line-height: 28px;
        font-weight: 300;
        margin: 0 auto 90px;
    }
    &-list{
        display: flex;
        justify-content: center;
        &-item{
            width: 370px;
            padding: 60px 45px;
            &-title{
                font-size: 14px;
                line-height: 17px;
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 26px;
            }
            &-price{
                margin-bottom: 26px;
                .pref{
                    font-size: 72px;
                    line-height: 86px;
                    font-weight: bold;
                    color:#FE4FA7
                }
                .postf{
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                }
            }
            &-description{
                font-size: 16px;
                line-height: 28px;
                font-weight: 300;
                margin-bottom: 40px;
            }
            &-button{
                @include start-btn;
            }
            &.active{
                background-color: #f6faff;
            }
        }
    }
}
//                                FREE
.section-free{
    text-align: center;
    color: $color-white;
    background: linear-gradient(to right, #FE985B,#FE4FA7);
    padding-top: 120px;
    padding-bottom: 120px;
    &-title{
        font-size: 66px;
        line-height: 60px;
        font-weight: bold;
        margin-bottom: 26px;
    }
    &-description{
        font-size: 20px;
        line-height: 30px;
        @include fotn-montserrat;
        margin-bottom: 40px;
        width: 50%;
        margin: 0 auto 40px;
    }
    &-button{
        @include start-btn;
    }
}
//                                    FOOTER

.section-footer{
    padding-top:80px;
    padding-bottom: 80px;
    &-logo{
        font-size: 24px;
        line-height: 29px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }
    &-nav{
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 75px;
        padding: 0;
        li{
            &+li{
                margin-left: 60px;
            }
            a{
                font-size: 14px;
                line-height: 20px;
                font-weight: bold;
                text-transform: uppercase;
                color:#414141 ;
                text-decoration: none;
                transition: .2s;
            }
            a:hover{
                color: #FE4FA7;
            }
        }
    }
    &-copyright-and-links{
        @include fotn-montserrat;
        display: flex;
        font-size: 14px;
        line-height: 18px;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }
}

.helper-link{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li{
        &+li{
            margin-left: 20px;
        }
        a{
            color:#464646 ;
            text-decoration: none;
            transition: .2s;
        }
        a:hover{
            color: #FE4FA7;
        }
    }
}